body{
    background-color: #D3DEDC;
}

h1{
    color: #B762C1;
}

h3{
    color: #35858B;
}

hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 4px;
    width: 5%;
}